@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
}
/* nav bar */
.fixed {
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: var(--primary-color);
}
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 11vh;
}

.nav-links {
  gap: 1.4rem;
  list-style: none;
  font-size: 1.5rem;
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: black;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: black;
}

/* Section styles*/
section {
  padding-top: 4vh;

  margin: 0 6rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.section-pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.section-text-p1 {
  text-align: center;
  color: black;
}
/* PROFILE SECTION */

#home {
  display: flex;
  justify-content: center;
  gap: 7rem;
  height: 80vh;
  padding: 0;
  align-items: center;
  scroll-margin-top: 5rem;
}
.profile-pic {
  border-radius: 50%;
}

.home-text {
  align-self: center;
  text-align: center;
}

.home-text p {
  font-weight: 600;
}

.home-text-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.title {
  font-size: 2.6rem;
  text-align: center;
  line-height: 1.2;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* About styles */

.home-container {
  display: flex;
}
.about-containers {
  gap: 1.4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 1rem;
  flex: 1;
  background: var(--primary-color);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
  display: flex;
}

.section-pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#profile .btn {
  width: 10rem;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.7rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: black;
  color: white;
}

.btn-color-1:hover {
  background: white;
  color: black;
  border: black 1px solid;
}

.btn-color-2 {
  background: white;
  color: black;
  border: black 1px solid;
}

.btn-container {
  gap: 1rem;
}
